---
const { contact, width, height, color } = Astro.props;
import {handlerSocialMedia} from '../../Logic/handlerSocialMedia.js'
---

<li class="contact-socialmedia" id={`${contact.id}`}>
{  <a
    href={handlerSocialMedia(contact)}
    style={`width:${width}; height:${height}; background-color: ${color};`}
    target="_blank"
    title={`Redirigir a ${contact.socialNetwork}`}
  >
    <img src={contact.image2} alt={`${contact.socialNetwork} icon`} />
  </a>}
</li>

<style>
  .contact-socialmedia > a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .contact-socialmedia > a > img {
    width: 60%;
    object-fit: contain;
  }

  .contact-socialmedia > a:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
</style>
